<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>41001618893-ubqblueinoo0v5llvmio5jjtcmr1f1hb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.41001618893-ubqblueinoo0v5llvmio5jjtcmr1f1hb</string>
	<key>API_KEY</key>
	<string>AIzaSyCn_tr1Sl4ug9ESztCIpiYlC1BKCX6qwvo</string>
	<key>GCM_SENDER_ID</key>
	<string>41001618893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxbotalov.TasksWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>taskswithfirebase-97a5e</string>
	<key>STORAGE_BUCKET</key>
	<string>taskswithfirebase-97a5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41001618893:ios:121d9880f0c0ee6ec28884</string>
</dict>
</plist>